---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Juanchi Programa</title>
		<style>
			body {
				background-color: black;
				color: antiquewhite;
				padding: 35px 100px 35px 100px;
			}

			h1 {
				text-align: center;
				padding-bottom: 45px;

			}
			
		</style>
	</head>
	<body>
		<h1 id="titulo">MI BLOG - JUANCHI PROGRAMA</h1>
		<hr>
		<h3>Bienvenidos a mi pagina web :3</h3>
		<header>
			<ul>
				<li><a href="*">Sobre mi</a></li>
				<li><a href="*">Contacto</a></li>
			</ul>
		</header>
		<footer>
			<hr>
			<cite>
				Desarrollada con ASTRO - 2024 | Juan Biolatto
			</cite>
		</footer>
	</body>
</html>
